<img src="img.jpg">

<h1 style="color:green"><Center>Lab 1 : Basics of WebScrapping & BeautifulSoup</Center></h1>

In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
with open ('index.html' , 'r') as file:
    html_content = file.read()

In [3]:
soup = BeautifulSoup(html_content,'html.parser')

In [4]:
soup

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Simple Table Example</title>
</head>
<body>
<h2 style="text-align: center;">Employee Table</h2>
<div style="display: flex; justify-content: center;">
<table border="1" style="text-align: center;">
<tr>
<th>Name</th>
<th>Age</th>
<th>City</th>
<th>Gender</th>
<th>Graduation Year</th>
<th>Profession</th>
<th>Salary</th>
</tr>
<tr>
<td>John Doe</td>
<td>25</td>
<td>New York</td>
<td>Male</td>
<td>2020</td>
<td>Software Engineer</td>
<td>$80,000</td>
</tr>
<tr>
<td>Jane Smith</td>
<td>30</td>
<td>Los Angeles</td>
<td>Female</td>
<td>2018</td>
<td>Marketing Specialist</td>
<td>$65,000</td>
</tr>
<tr>
<td>Bob Johnson</td>
<td>28</td>
<td>Chicago</td>
<td>Male</td>
<td>2019</td>
<td>Teacher</td>
<td>$55,000</td>
</tr>
<tr>
<td>John Doe</td>
<td>25</td>
<td>New York</td>
<td>Male</td>
<td>2020</td>
<td>Software Engineer</td>
<td>$80,000</td>
</tr>
</table>
</div>
</body>
</html>

In [5]:
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Simple Table Example
  </title>
 </head>
 <body>
  <h2 style="text-align: center;">
   Employee Table
  </h2>
  <div style="display: flex; justify-content: center;">
   <table border="1" style="text-align: center;">
    <tr>
     <th>
      Name
     </th>
     <th>
      Age
     </th>
     <th>
      City
     </th>
     <th>
      Gender
     </th>
     <th>
      Graduation Year
     </th>
     <th>
      Profession
     </th>
     <th>
      Salary
     </th>
    </tr>
    <tr>
     <td>
      John Doe
     </td>
     <td>
      25
     </td>
     <td>
      New York
     </td>
     <td>
      Male
     </td>
     <td>
      2020
     </td>
     <td>
      Software Engineer
     </td>
     <td>
      $80,000
     </td>
    </tr>
    <tr>
     <td>
      Jane Smith
     </td>
     <td>
      30
     </td>
     <td>
      Los Angeles
     </td>
     <td>
      Female
     </td>
     <td>
      2018
     </td>
     <td>
      Marketing Specialist
     </td>
     <td>
      $65,000
     </td>
    </tr>
    <tr>
     <td>
      Bob Johnson
     </td>
     <td>
      28
     </td>
     <td>
      Chicago
     </td>
     <td>
      Male
     </td>
     <td>
      2019
     </td>
     <td>
      Teacher
     </td>
     <td>
      $55,000
     </td>
    </tr>
    <tr>
     <td>
      John Doe
     </td>
     <td>
      25
     </td>
     <td>
      New York
     </td>
     <td>
      Male
     </td>
     <td>
      2020
     </td>
     <td>
      Software Engineer
     </td>
     <td>
      $80,000
     </td>
    </tr>
   </table>
  </div>
 </body>
</html>

In [8]:
soup.title

In [9]:
soup.table

<table border="1" style="text-align: center;">
<tr>
<th>Name</th>
<th>Age</th>
<th>City</th>
<th>Gender</th>
<th>Graduation Year</th>
<th>Profession</th>
<th>Salary</th>
</tr>
<tr>
<td>John Doe</td>
<td>25</td>
<td>New York</td>
<td>Male</td>
<td>2020</td>
<td>Software Engineer</td>
<td>$80,000</td>
</tr>
<tr>
<td>Jane Smith</td>
<td>30</td>
<td>Los Angeles</td>
<td>Female</td>
<td>2018</td>
<td>Marketing Specialist</td>
<td>$65,000</td>
</tr>
<tr>
<td>Bob Johnson</td>
<td>28</td>
<td>Chicago</td>
<td>Male</td>
<td>2019</td>
<td>Teacher</td>
<td>$55,000</td>
</tr>
<tr>
<td>John Doe</td>
<td>25</td>
<td>New York</td>
<td>Male</td>
<td>2020</td>
<td>Software Engineer</td>
<td>$80,000</td>
</tr>
</table>

In [10]:
table = soup.find_all('table')
rows = soup.find_all('tr')
headers = [header.text for header in rows[0].find_all('th')]

In [11]:
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)

In [12]:
headers

['Name', 'Age', 'City', 'Gender', 'Graduation Year', 'Profession', 'Salary']

In [13]:
data

[['John Doe',
  '25',
  'New York',
  'Male',
  '2020',
  'Software Engineer',
  '$80,000'],
 ['Jane Smith',
  '30',
  'Los Angeles',
  'Female',
  '2018',
  'Marketing Specialist',
  '$65,000'],
 ['Bob Johnson', '28', 'Chicago', 'Male', '2019', 'Teacher', '$55,000'],
 ['John Doe',
  '25',
  'New York',
  'Male',
  '2020',
  'Software Engineer',
  '$80,000']]

In [ ]:
df = pd.DataFrame(data, columns= headers)

In [ ]:
df